.content {
  gap: var(--spacing-lg);
  display: grid;
  color: var(--color-black);
  padding: var(--spacing-lg) 0.375rem 0.375rem;
}

.content .message {
  gap: var(--spacing-md);
  display: flex;
  max-width: 32.5rem;
}

.content .message .icon {
  width: var(--spacing-3xl);
  height: var(--spacing-3xl);
}

.content .actions {
  gap: var(--spacing-md);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
