@media (min-width: 769px) and (max-width: 1024px) {
  .desktop {
    padding: 1.5rem;
  }

  .desktop .programs {
    grid-template-columns: repeat(auto-fit, 5.5rem);
    grid-auto-rows: 5.75rem;
    gap: 1.25rem;
  }

  .window {
    min-width: 40rem;
    max-width: calc(100vw - 4rem);
  }

  .portfolio-content {
    max-height: 500px;
  }
}
