.win98-input {
  width: 100%;
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  background: var(--color-white);
  font-family: var(--font-family-primary);
  font-size: 11px;
  color: var(--color-black);
  box-shadow: inset -1px -1px var(--color-window-border-light),
    inset 1px 1px var(--color-gray-dark),
    inset -2px -2px var(--color-gray-medium),
    inset 2px 2px var(--color-window-border-darker);
}

.win98-input:focus {
  outline: 1px dotted var(--color-black);
  outline-offset: -2px;
}

.win98-input::placeholder {
  color: var(--color-gray-dark);
  font-style: italic;
}

textarea.win98-input {
  resize: vertical;
  min-height: 100px;
  line-height: 1.4;
}
