.article-card-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--color-navy);
  display: block;
  margin-bottom: var(--spacing-md);
  font-family: var(--font-family-primary);
}

.article-card-headline .article-card-title {
  font-size: 24px;
}

.article-card-title:hover {
  text-decoration: underline;
}
