/* Base styles */
@import "./base/variables.css";
@import "./base/fonts.css";
@import "./base/reset.css";

/* Layout components */
@import "./layout/desktop.css";
@import "./layout/taskbar.css";

/* UI components */
@import "@design/Button/buttons.css";
@import "@design/Seperator/Seperator.css";
@import "@design/StartButton/TaskbarButton.css";
@import "@design/Bookmarks/Bookmarks.css";

@import "./layout/programs.css";
@import "@design/TaskbarTime/TaskbarTime.css";
@import "@design/TaskbarCredits/TaskbarCredits.css";
@import "@design/window/window.css";
@import "@design/Comments/Comments.css";
@import "@design/CommentForm/CommentForm.css";
@import "@design/AuthorCard/AuthorCard.css";
@import "@design/BookmarkButton/BookmarkButton.css";
@import "@design/Clippy/Clippy.css";

@import "./components/form-fields.css";
@import "./components/crt-overlay.css";

/* Media queries */
@import "./responsive/mobile.css";
@import "./responsive/tablet.css";
@import "./responsive/desktop-large.css";

@media (max-width: 900px) {
  .desktop {
    background: url("/window-mobile.jpg") center/cover no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}
@media (max-width: 600px) {
  .desktop {
    background: url("/window-mobile.jpg") center/cover no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}
@media (max-width: 480px) {
  .desktop {
    background: url("/window-mobile.jpg") center/cover no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}
@media (max-width: 360px) {
  .desktop {
    background: url("/window-mobile.jpg") center/cover no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}
