/* Base styles */
@import "./base/variables.css";
@import "./base/fonts.css";
@import "./base/reset.css";

/* Layout components */
@import "./layout/desktop.css";
@import "./layout/taskbar.css";

/* UI components */
@import "../components/design/button/buttons.css";
@import "../components/design/seperator/Seperator.css";
@import "../components/design/startButton/StartButton.css";
@import "./layout/programs.css";
@import "../components/design/TaskbarTime/TaskbarTime.css";
@import "../components/design/TaskbarCredits/TaskbarCredits.css";
@import "../components/design/window/window.css";
@import "../components/design/Comments/Comments.css";
@import "../components/design/AuthorCard/AuthorCard.css";
@import "../components/design/BookmarkButton/BookmarkButton.css";

/* Media queries */
@import "./responsive/mobile.css";
@import "./responsive/tablet.css"; /* Voeg dit toe als je tablet styling wilt */
@import "./responsive/desktop-large.css";

@media (max-width: 900px) {
  .desktop {
    background: url("/window-mobile.jpg") center/cover no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}
@media (max-width: 600px) {
  .desktop {
    background: url("/window-mobile.jpg") center/cover no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}
@media (max-width: 480px) {
  .desktop {
    background: url("/window-mobile.jpg") center/cover no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}
@media (max-width: 360px) {
  .desktop {
    background: url("/window-mobile.jpg") center/cover no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}
